.places {
    padding: 92px 0 92px;
    margin: auto;
    width: min-content;
    display: grid;
    row-gap: 80px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, max-content);
    justify-content: center;
}

@media (max-width: 1024px) { 
    .places {
        row-gap: 72px;
    }
}

@media (max-width: 768px) { 
    .places {
        row-gap: 50px;
    }
}