.card__link-quote {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    width: 456px;
    align-self: flex-end;
}