.cover__container {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    max-width: 1184px;
    min-height: 740px;
}

@media (max-width: 1024px) {
    .cover__container {
        min-height: 640px;
    }
}

@media (max-width: 768px) {
    .cover__container {
        min-height: 480px;
    }
}

@media (max-width: 480px) {
    .cover__container {
        min-height: 200px;
    }
}