.lead__image {
    margin: auto;
    max-width: 984px;
    height: auto;
}

@media (max-width: 1280px) { 
    .lead__image {
        width: calc(100vw - 48px * 2);
    }
}

@media (max-width: 768px) { 
    .lead__image {
        max-width: 100%;
    }
}