.cover__image {
    margin: auto;
    object-fit: cover;
    max-width: 1184px;
    max-height: 740px;
}

@media screen and (max-width: 1280px) and (min-width: 768px) { 
    .cover__image  {
        width: calc(100vw - 48px * 2);
    }
}

@media screen and (max-width: 768px) { 
    .cover__image  {
        width: 100%;
        margin-top: 66px;
    }
}